<!-- Begin Body -->
<div id="blog-index">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="posts">
          <% @posts.each do |post| %>
            <h3><%= post.title %></h3>
            <%= post.body %>
            <hr class="col-sm-12">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>