<div id="post-show">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="posts">
          <p>
            <strong>Title:</strong>
            <%= @post.title %>
          </p>
          <p>
            <strong>Body:</strong>
            <%= @post.body %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>