  <%= javascript_include_tag "welcome.js" %>

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="title-group">
          <p id="title-productions">shotop productions</p>
          <p id="title-present">Presents</p>
        </div>
        <button type="button" class="btn btn-link" id="down_direction_arrow">
          <i class="fa fa-angle-double-down"></i>
        </button>
      </div>
    </div>
  </div>

  <div id="vitruvianwrap">
    <div class="container">
      <div class="row">
        <div id="tale-fade" data-750="opacity:0;left:100%;" data-980="opacity:1;left:0%;">
          <p>One Man's Story</p>
        </div>
      </div>
    </div>
  </div>

  <div id="adventureswrap">
    <div id="adventures-title" data-2600="top:100%;" data-2700="top:0%;" data-3800="display:block;" data-5700="" data-5850="top:-100%;display:none;">
      <p>
        <i class="fa fa-umbrella" style="color: #1abc9c;"></i>
      </p>
      <p>These are the Extraordinary Adventures</p>
    </div>
    <div id="shotop-title" data-4550="top:100%;" data-4750="top:10%;" data-3800="display:block;" data-5700="" data-5850="top:-100%;display:none;">
      <p style="color: white; font-size: 45px;">of</p><p> Mr. Shotop</p>
    </div>
  </div>

  <div id="bolshevikwrap">
    <p>in the Land of the Bolsheviks</p>
  </div>

  <div id="taleswrap">
    <div id="tales-title" data-8149="opacity:0;bottom:100%;" data-8355="opacity:1;bottom:0%;">
        <p>..and other contemporary tales</p>
    </div>
    <div id="enter">
      <%= button_to "Learn More", about_path, :method => "get", :class => "btn btn-large btn-primary btn-block" %>
    </div>
  </div>

  <div id="ottowrap">
    <div class="container">
      <div class="row centered">
        <p>Andrea and Otto say,<br>
        Enjoy the rest of your <%= Time.now.strftime("%A") %>! </p>
        <iframe src="//instagram.com/p/Ylir1zq_96/embed/" width="412" height="510" frameborder="0" scrolling="no" allowtransparency="true" target="_blank"></iframe>
        <iframe src="//instagram.com/p/izwqEkq__Y/embed/" width="412" height="510" frameborder="0" scrolling="no" allowtransparency="true" target="_blank"></iframe>
      </div>
    </div>
  </div>


