  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

  <div class="container w">
    <div class="row centered">
      <br><br>
      <div class="col-lg-3">
        <i class="fa fa-comment"></i>
        <a href="<%= blog_path %>"><h4>BLOG</h4></a>
        <p>Life, technology, travel.  Find thoughts on these topics and more here. </p>
      </div><!-- col-lg-4 -->

      <div class="col-lg-3">
        <i class="fa fa-language"></i>
        <a href="<%= translations_path %>"><h4>TRANSLATIONS</h4></a>
        <p>Russian to English translations of news articles and other interesting content.</p>
      </div><!-- col-lg-4 -->

      <div class="col-lg-3">
        <i class="fa fa-music"></i>
        <a href="<%= music_path %>"><h4>MUSIC</h4></a>
        <p>I started my journey through Jazz guitar a couple years ago.  Hear some of the stuff I've been working on lately.</p>
      </div><!-- col-lg-4 -->

      <div class="col-lg-3">
        <i class="fa fa-flask"></i>
        <a href="<%= projects_path %>"><h4>PROJECTS</h4></a>
        <p>Video games, tools, random things I've been working on.</p>
      </div><!-- col-lg-4 -->
    </div><!-- row -->
    <br>
    <br>
  </div><!-- container -->

