<div id="skillset">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2 pull-right">
        <h1>My Skillset</h1>
      </div>
    </div>
      <div class="row centered">
        <div class="col-lg-3 col-lg-offset-4">
          <h2>Software Engineering</h2>
          <p>Test Automation, Test Frameworks, Security Testing, Tools Development</p>
        </div>
        <div class="col-lg-3 col-lg-offset-4">
          <h2>Agile Consulting</h2>
          <p>5+ Years Agile Software Delivery across a number of domains</p>
        </div>
        <div class="col-lg-3 col-lg-offset-4">
          <h2>Linguist</h2>
          <p>Fluency in Russian, Translation, Interpretation, International Relationships</p>
        </div>
        <div class="col-lg-3 col-lg-offset-4">
          <h2>Jazz Guitar</h2>
          <p>I'm an avid learner with a deep respect for the art.  I love to improvise!</p>
        </div>
      </div>
    </div>
  </div>
</div>