#skillset {
  margin-bottom: 200px
}

#aboutwrap {
  background: #F7FAFC;
  padding-top: 3%;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 735px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutwrap #profileInfo {
  margin-top: 75px;
}

#aboutwrap p {
  font-size: 24px;
  margin-top: 30px;
}

#contact-form {
  margin-top: 60px;
  margin-bottom: 80px;
}

#skill-title {
  padding-left: 41%;
  padding-bottom: 5%;
}

#skills h2 {
  font-size: 28px;
}

#skills p {
  font-size: 16px;
}

#skills {
  padding-left: 20px;
}

#doWhat {
  background: #1abc9c;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 855px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#crisscross-content {
  margin-top: 110px;
}

#greeting {
  padding-top: 40px;
  font-size: 65px;
  color: white;
  text-shadow: 2px 2px 2px #000;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

#doWhat a {
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px 1px #000;
}

#doWhat i {
  font-size: 80px;
}

#doWhat .col-lg-6 p {
  font-size: 20px;
}