#blog-index {
  margin-top: 120px;
}

#post-show {
  margin-top: 100px;
  min-height: 800px;
}

#post-show .row img {
  margin-top: 30px;
}

#individual-post-title h1 {
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.post h2 a {
  font-size: 25px;
  color: rgba(28,28,28,.5);
  text-decoration: none;
  font-family: 'Vollkorn';
}

.post h2 {
  font-size: 25px;
  color: rgba(28,28,28,.5);
  text-decoration: none;
  font-family: 'Vollkorn';
}

.post {
  padding-top: 90px;
}

.post p {
  margin-bottom: 20px;
  font-size: 18px;
}


.post h1 {
  margin-top: -20px;
  font-weight: 20;
}

.post h1 a {
 font-family: 'Ubuntu';
  font-size: 60px;
  font-weight: 100;
  text-decoration: none;
  color: #333;
  -webkit-transition: color 1s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}

#posts h1 a:hover {
  color: #ff7878;
}

#post-content h1 {
  font-family: 'Ubuntu';
  font-size: 60px;
  font-weight: 100;
  text-decoration: none;
  color: #ff7878;
}

#post-content h2 {
  font-size: 25px;
  color: rgba(28,28,28,.5);
  text-decoration: none;
  font-family: 'Vollkorn';
}

#post_body {
  background-color: white;
  font-size: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

.post {
  border-bottom: 1px solid #ddd;
}

#reply-header h2 {
  font-family: 'Ubuntu';
  padding-bottom: 20px;
}

#reply-header p {
  font-size: 20px;
}

#reply-header {
  padding-left: 15px;
}

#replies {
  background-color: #C7D0D5;
}

#comments div {
  background-color: white;
  font-size: 20px;
}

#comments-header {
  color: #333;
  font-size: 30px;
  font-family: 'Ubuntu';
  padding-bottom: 40px;
}

#comment-body {
  margin-top: 20px;
}

#read-more-link a {
  color: #ff7878;
  text-decoration: none;
  font-size: 22px;
}

#read-more-link {
  margin-bottom: -10px;
}

.post-footer {
  margin-bottom: 40px;
}

#categories h4 {
  font-size: 25px;
  padding-right: 10px;
}

#categories {
  margin-top: 20px;
}

#archives h4 {
  font-size: 25px;
  padding-right: 20px;
}

#search-meta-group {
  margin-top: 200px;
}

#new-post {
  margin-top: 100px;
  min-height: 500px;
}