body {
  padding-top: 80px;
  height: 5000px;
}

.navbar {
  font-weight: 500;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: black;
  border-top: 2px solid #7094FF;
}

.navbar-inverse .navbar-nav > li >a {
  font-family: "Ubuntu";
  color: white;
}

.navbar-inverse .navbar-nav > li >a:hover {
  color: #7094FF;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-weight: bolder;
  font-family: "Ubuntu";
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
  color: #7094FF;
  font-size: 22px;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
}

#header {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#header-wrap {
    width: 100%;
    position: fixed;
}
