body {
  padding-top: 80px;
}

.navbar {
  font-weight: 500;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: black;
  border-top: 2px solid #7094FF;
}

.navbar-inverse .navbar-nav > .active > a {
  background: #7094FF
}

.navbar-inverse .navbar-brand {
  color: #999999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
  color: #7094FF;
  font-size: 22px;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
