// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headerwrap {
  background: url("pushkar.jpg") no-repeat center top;
  -webkit-filter: brightness(125%) grayscale(70%);
  margin-top: -20px;
  text-align:center;
  background-attachment: fixed;
  background-position: center center;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
  min-height: 1055px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap button {
  font-family: 'Ubuntu';
  color: white;
  font-size: 120px;
  margin-top: -10px;
}

#headerwrap button:hover {
  color: #00DDD8;
  -webkit-filter: brightness(125%);
}

#headerwrap .title-group {
  margin-top: 395px;
  color: white;
  -webkit-filter: brightness(125%);
  font-size: 65px;
  font-family: 'Impact';
}

#headerwrap .title-group #title-present {
  color: #00DDD8;
  font-size: 95px;
  font-family: 'Impact';
}

#title-fade {
  position: relative;
}

#vitruvianwrap {
  background: url("vetruvian.jpg") no-repeat center top;
  -webkit-filter: invert(80%) brightness(125%);
  text-align:center;
  background-attachment: fixed;
  background-position: center center;
  min-height: 835px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#tale-fade {
  color: black;
  padding-top: 25%;
  font-size: 155px;
  -webkit-filter: brightness(125%);
  font-family: 'Impact';
  font-weight: 900;
  position: relative;
}

#lorewrap {
  text-align:center;
  min-height: 1385px;
  background-color: orange;
  width: 100%;
  height: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lore-title {
  font-size: 155px;
  -webkit-filter: brightness(125%);
  font-family: 'Impact';
  font-weight: 900;
  padding-top: 35%;
  position: relative;
}

#adventureswrap {
  background-color:rgb(0,0,0);
  background-attachment:fixed;
  text-align:center;
  min-height: 4685px;
  width: 100%;
  height: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#adventures-title {
  font-size: 45px;
  font-family: 'Impact';
  color: white;
  font-weight: 900;
  width:100%;
  height:100%;
  padding-top:10%;
  text-align:center;
  position: fixed;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#shotop-title {
 font-size: 75px;
  font-family: 'Impact';
  font-weight: 900;
  width:100%;
  height:100%;
  padding-top:10%;
  text-align:center;
  position: fixed;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#bolshevikwrap {
  background: url("lenin-speaking-in-red-square.jpg") no-repeat center top;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 985px;
  width: 100%;

    -webkit-background-size: 80%;
    -moz-background-size: 80%;
    -o-background-size: 80%;
    background-size: 80%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#bolshevikwrap p {
  font-size: 85px;
  font-family: 'propaganda';
  font-weight: 900;
  position: relative;
  color: red;
  text-shadow: 5px 5px black;
  padding-top: 25%;
}

#taleswrap {
  background-color: blue;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 985px;
  width: 100%;

    -webkit-background-size: 80%;
    -moz-background-size: 80%;
    -o-background-size: 80%;
    background-size: 80%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


#tales-title {
  font-size: 55px;
  font-family: 'propaganda';
  font-weight: 900;
  position: relative;
  color: orange;
  padding-top: 30%;
}

#ottowrap {
  background: white;
  padding-top: 100px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 285px;
  padding-bottom: 100px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#ottowrap p {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

#ottowrap iframe {
  margin-left: 20px;
  margin-right: 20px;
}

#doWhat {
  background: #1abc9c;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
  min-height: 855px;
  width: 100%;
  background-color: #ff7878;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#crisscross-content {
  margin-top: 110px;
}

#greeting {
  padding-top: 40px;
  font-size: 65px;
  color: white;
  text-shadow: 2px 2px 2px #000;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

#doWhat a {
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px 1px #000;
}

#doWhat i {
  font-size: 80px;
}

#doWhat .col-lg-6 p {
  font-size: 22px;
}

