// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headerwrap {
  background: url("pushkar.jpg") no-repeat center top;
  -webkit-filter: grayscale(60%);
  margin-top: -20px;
  text-align:center;
  background-attachment: fixed;
  background-position: center center;
  min-height: 1055px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap button {
  font-family: 'Ubuntu';
  color: white;
  font-size: 120px;
  margin-top: -10px;
}

#headerwrap button:hover {
  color: yellow;
}

#headerwrap .title-group {
  margin-top: 400px;
  color: yellow;
  font-size: 65px;
  font-family: 'Ubuntu';
}

#headerwrap .title-group #title-dream {
  color: white;
  font-size: 45px;
  font-family: 'Copperplate';
}

#aboutwrap {
  background: #e0e0e0;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 735px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutwrap #profileInfo {
  margin-top: 75px;
}

#aboutwrap p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  margin-top: 60px;
  margin-bottom: 80px;
  border: 1px solid #244766;
}

.contact-form button {
  background-color: #244766;
  color: #EFFD4F;
}

.contact-form button:hover {
  background-color: #244766;
  color: #EFFD4F;
}


#ottowrap {
  background: white;
  margin-top: -10px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 155px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#ottowrap p {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

#ottowrap iframe {
  margin-left: 20px;
  margin-right: 20px;
}

#doWhat {
  background: #1abc9c;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 855px;
  width: 100%;
  background-color: #ff7878;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#crisscross-content {
  margin-top: 130px;
}

#doWhat a {
  font-size: 35px;
  color: white;
}

#doWhat i {
  font-size: 80px;
}

#doWhat p {
  font-size: 22px;
}

