<div class="navbar-static-bottom">
    <div id="footer">
      <div class="container">
        <div class="row centered">
            <a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a>
            <a href="https://www.facebook.com/sam.hotop" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/profile/view?id=25296546&trk=spm_pic" target="_blank"><i class="fa fa-linkedin-square"></i></a><a href="https://github.com/shotop" target="_blank"><i class="fa fa-github-alt"></i></a>
            <h2>© Samuel James Hotop 2014</h2>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- Footer -->
    </div>